* {font-family: arial;}



body {width: auto;
	width: 100%;
	min-width: 400px
}



.header {background-color: rgb(223, 82, 82);
		width: 100%;	
			}


.container {
			height: auto;}




.text {text-align: center;
		padding-bottom: 15px;
		position: absolute;
		color: snow;
		font-size: 12pt;}



ul {display: table;
	width: 100%;
	background-color: rgb(133, 133, 133);
	padding: 10px;}




ul li {display: table-cell;
		float: left;}





.navigationbar {width: 100%;
				}	


a {display: block;
	padding: 8px;
	color: snow;
	text-decoration: none;}




.navitext a:hover{ border-bottom: solid 1px;
					color: rgb(223, 82, 82); }	
		
section .toppic {
	display: flex;
	}

section .bottompic {display: flex;}


section img {
	width: 100%;

}


.one {width: 50%;padding: 5px; }

.two {width: 50%;padding: 5px;}

.three {width: 50%;padding: 5px;}

.four {width: 50%;padding: 5px;
		margin-top: 116px;}

.images p {color: black;}





.foot {width: 100%;
		background-color: rgb(223, 82, 82);
		bottom:550px;
		padding: 10px;
		text-align: center;
		color: snow;}